@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'navbar';
@import 'login';
@import 'variables';

#root {
  color: black;
  background-color: #2F3D63;
}
body {
  height: 100vh;
  background-color: $mainBackgroundColor !important;
}
